
#logo{
	width: 100%;
	height: 100px;
	background: black;
}

#logo img{
	width: 250px;
}

#logo h6{
	float: right;
	position: absolute;
	top: 67px;
	right: 117px;
	font-size: 19px;
	color: white;
}

#main_menu{
	background: #000000;
	height: 40px;
	width: 100%;
	margin-top: 10px;
	list-style: none;
	padding: 0;
}

#main_menu li{
	float: left;
}

#main_menu li a{
	line-height: 40px;
	padding: 0 15px;
	color: rgb(0, 204, 255);
	transition: color 0.5s;
	display: block;
	height: 40px;

}

#main_menu li a.home{
	line-height: 40px;
	padding: 0 10px;
	background: #759197;
	border-right: 1px solid #fff;
}

#main_menu li a:hover{
	color: #739098;
	height: 38px;
}

.indirim img{
	width: 100%;
}

.kategori{
	width: 200px;
	height: 300px;
	margin: 12px;
	float: left;
	border: 3px solid #c2c2c2;
}

.kategori ul{
	list-style-type: none;
}

.kategori ul li{
	color: black;
	font-size: 20px;
	padding: 7px;
}

.kategori h3{
	color: #6d979b;
	background: beige;
	padding: 10px;
}

.clothes img{
	width: 200px;
	height: 300px;
	margin: 12px;
	float: left;
}

.reklam{
	background: #759197;
	height: 200px;
}

.filtre{
	background: grey;
}

.footer{
	height: 200px;
	background: black;	
	margin-top: 20px;
	padding: 20px;
}

.clothes2 img{
	width: 200px;
	height: 300px;
	margin: 12px;
	float: left;
}

.filtre img{
	width: 200px;
	height: 300px;
	margin: 12px;
	float: left;
}

.reklam img{
	width: 100px;
	border-radius: 50px;
	border: 2px solid #ce8953;
	padding: 2px;
	margin-left: 100px;
}

.reklam h2{
	text-align: center;
	color: #6d979b;
	background: beige;
	padding: 10px;
}

.footer ul{
	list-style-type: none;
}

.footer ul li{
	color: #fff;
	font-size: 15px;
	margin: 5px;
	float: left;
}

.footer h6{
	color: #fff;
	font-size: 19px;
	margin: 5px;
	font-weight: bolder;
}

.bölüm{
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 120px;
}